.ctn {
  max-width: 600px;
  margin-inline: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.sp {
  font-size: 12px;
  color: gray;
}

.sp-heading {
  font-size: 18px;
  font-weight: bold;
}

.sp-normal {
  font-size: 14px;
}

.sp-heading-no-bold {
  font-size: 18px;
}

.sp-normal td {
  line-height: 14px;
}
